<ion-view title="Cleiton" id="page4">
  <ion-content padding="true" class="has-header">
    <div class="list card" id="cleiton-card22">
      <ion-item class="item-avatar item-icon-right" id="cleiton-list-item12">
        <img src="img/m9JqKNmyTgKJdQIE7VJg_478920013650262.jpg">
        <h2>Cleiton Silva</h2>
        <p>Blumenau - SC | 9Km</p>
        <i class="icon ion-heart"></i>
      </ion-item>
      <div>
        <style>
          .ion-star{
              font-size: 20px;
          }
        </style>
        <center>
          <i class="ion-star"></i>
          <i class="ion-star"></i>
          <i class="ion-star"></i>
          <i class="ion-star"></i>
          <i class="ion-star"></i>
        </center>
      </div>
      <div id="cleiton-markdown5" class="show-list-numbers-and-dots">
        <p style="color:#000000;">Atualmente trabalho como desenvolvedor e estou usando o Hayai como uma renda extra.</p>
      </div>
    </div>
    <button id="cleiton-button2" class="button button-dark button-block">Confirmar solicitação</button>
  </ion-content>
</ion-view>