<ion-view title="Lista de Motoboys" id="page3">
  <ion-content padding="true" class="has-header">
    <div id="listaDeMotoboys-container1">
      <ion-list id="listaDeMotoboys-list3">
        <ion-item class="item-avatar item-icon-right" id="listaDeMotoboys-list-item1" ui-sref="cleiton()">
          <img src="img/rxBs8Lt0TsCX2u9dwDiK_478920013650262.jpg">
          <h2>Cleiton</h2>
          <p style="white-space:normal;">Blumenau - SC | 9Km</p>
          <i class="icon ion-heart"></i>
        </ion-item>
      </ion-list>
      <div>
        <style>
          .ion-star{
              font-size: 20px;
          }
        </style>
        <center>
          <i class="ion-star"></i>
          <i class="ion-star"></i>
          <i class="ion-star"></i>
          <i class="ion-star"></i>
          <i class="ion-star"></i>
        </center>
      </div>
    </div>
    <div id="listaDeMotoboys-container2">
      <ion-list id="listaDeMotoboys-list4">
        <ion-item class="item-avatar item-icon-right" id="listaDeMotoboys-list-item7">
          <img src="img/WBTmqZvPQ1GUokHQxE2T_unnamed.jpg">
          <h2>Anderson</h2>
          <p style="white-space:normal;">Blumenau - SC | 10Km</p>
          <i class="icon ion-ios-heart-outline"></i>
        </ion-item>
      </ion-list>
      <div>
        <style>
          .ion-star{
              font-size: 20px;
          }
        </style>
        <center>
          <i class="ion-star"></i>
          <i class="ion-star"></i>
          <i class="ion-star"></i>
          <i class="ion-star"></i>
        </center>
      </div>
    </div>
    <div id="listaDeMotoboys-container3">
      <ion-list id="listaDeMotoboys-list5">
        <ion-item class="item-avatar item-icon-right" id="listaDeMotoboys-list-item8">
          <img src="img/8GjMt6KqTEy2SbJgu8tB_SALARIOMOTOFRETE.jpg">
          <h2>Roberto</h2>
          <p style="white-space:normal;">Blumenau - SC | 8Km</p>
          <i class="icon ion-ios-heart-outline"></i>
        </ion-item>
      </ion-list>
      <div>
        <style>
          .ion-star{
              font-size: 20px;
          }
        </style>
        <center>
          <i class="ion-star"></i>
          <i class="ion-star"></i>
          <i class="ion-star"></i>
        </center>
      </div>
    </div>
    <div id="listaDeMotoboys-container4">
      <ion-list id="listaDeMotoboys-list6">
        <ion-item class="item-avatar item-icon-right" id="listaDeMotoboys-list-item9">
          <img src="img/kspTKpqTP2cHH0Ser8Yq_DdaNfBJWkAI-qlq.jpg">
          <h2>João</h2>
          <p style="white-space:normal;">Blumenau - SC | 12Km</p>
          <i class="icon ion-ios-heart-outline"></i>
        </ion-item>
      </ion-list>
      <div>
        <style>
          .ion-star{
              font-size: 20px;
          }
        </style>
        <center>
          <i class="ion-star"></i>
          <i class="ion-star"></i>
          <i class="ion-star"></i>
        </center>
      </div>
    </div>
  </ion-content>
</ion-view>